<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="PathToSQLFiles" value="D:\projects\SQL\FN-11731" />
  </appSettings>

  <connectionStrings>
    <add name="BO_M_ACCOUNTING 142" connectionString="data source=192.168.72.142;Failover Partner=MIRROR01;initial catalog=BO_M_ACCOUNTING;persist security info=True;user id=bo_application;password=jgdtZ;multipleactiveresultsets=True;App=DatabaseUpdater;Connection Timeout=60;Timeout=60" providerName="System.Data.SqlClient" />
    <add name="BO_M_ACCOUNTING 141" connectionString="data source=192.168.72.141;Failover Partner=MIRROR01;initial catalog=BO_M_ACCOUNTING;persist security info=True;user id=bo_application;password=jgdtZ;multipleactiveresultsets=True;App=DatabaseUpdater;Connection Timeout=60;Timeout=60" providerName="System.Data.SqlClient" />
    <add name="BO_M_VIRTUAL_COMPANIES 142" connectionString="data source=192.168.72.142;Failover Partner=MIRROR01;initial catalog=BO_M_ACCOUNTING;persist security info=True;user id=bo_application;password=jgdtZ;multipleactiveresultsets=True;App=DatabaseUpdater;Connection Timeout=60;Timeout=60" providerName="System.Data.SqlClient" />
    <add name="BO_M_VIRTUAL_COMPANIES 141" connectionString="data source=192.168.72.141;Failover Partner=MIRROR01;initial catalog=BO_M_ACCOUNTING;persist security info=True;user id=bo_application;password=jgdtZ;multipleactiveresultsets=True;App=DatabaseUpdater;Connection Timeout=60;Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
